oracle.oracle-java-24.0.0.vsix filter=lfs diff=lfs merge=lfs -text
scalameta.metals-1.52.0.vsix filter=lfs diff=lfs merge=lfs -text
ms-python.vscode-pylance-2025.7.1.vsix filter=lfs diff=lfs merge=lfs -text
